.hex-editor {
    font-family: courier;
    font-size: 1vw;
    font-weight: 500;
    background-color: black;
    color: #00ff00;
}

.hex-editor .line {

}

.hex-editor .line .hex {

}

.hex-editor .line .hex span {
    margin-right: 0.5vw;
}

.hex-editor .line .alphanum {

}
